<!-- user.ejs -->

<!DOCTYPE html>
<html>
<head>
  <title>User Page</title>
</head>
<body>
  <h1>Welcome, <%= user.name %>!</h1>
  <% if (user.admin) { %>
    <p>You are an admin.</p>
  <% } else { %>
    <p>You are not an admin.</p>
  <% } %>
</body>
</html>
